#section7{
    margin-top: 570px;
    height: 320px;
    max-width: 1440px;
    text-align: center;
    font-family: 'poppins';
    font-size: 25px/34px;
}

#section7 img{
    position: relative;
    height: 201.61px;
    width: 201.61px;
}